article.video-sample {
    .entry-content {
        .wp-block-embed__wrapper {
            margin-top: 3rem;
            margin-bottom: 2rem;
            position: relative;
            padding-top: 56.25%;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.video-cta {
    background: $color__primary;
    color: $color__light;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;

    h3 {
        margin-bottom: 1rem;
        font-size: 1.75rem;
    }

    p {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
    }

    a.btn {
        background-color: $color__alternate;
        color: $color__light;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
            background-color: darken($color__alternate, 10%);
        }
    }
}